plml/plml_1.1.2_extended.xsd

<!--- PLML 1.1.2 extended version, see https://github.com/bogeo/upatterns/plml/plml_1.1.2_extended.dtd for further details. --> 
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="pattern">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="name" type="xs:string" minOccurs="0" maxOccurs="1"/>
				<xs:element name="alias" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="illustration" minOccurs="0" maxOccurs="1"/>
				<xs:element name="problem" type="xs:string" minOccurs="0" maxOccurs="1"/>
				<xs:element name="context" type="xs:string" minOccurs="0" maxOccurs="1"/>
				<xs:element name="forces" minOccurs="0" maxOccurs="1"/>
				<xs:element name="solution" minOccurs="0" maxOccurs="1"/>
				<xs:element name="synopsis" type="xs:string" minOccurs="0" maxOccurs="1"/>
				<xs:element name="diagram" minOccurs="0" maxOccurs="1"/>
				<xs:element name="evidence" minOccurs="0" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="example" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element name="rationale" minOccurs="0" maxOccurs="1"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="confidence" type="xs:string" minOccurs="0" maxOccurs="1"/>
				<xs:element name="literature" type="xs:string" minOccurs="0" maxOccurs="1"/>
				<xs:element name="implementation" minOccurs="0" maxOccurs="1"/>
				<xs:element name="formalization" minOccurs="0" maxOccurs="1" type="xs:string"/>
				<xs:element name="related-patterns" minOccurs="0" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="pattern-link" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Pre defined PLML relation type</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute name="type" type="xs:string" use="required"/>
											<xs:attribute name="patternID" type="xs:integer" use="required"/>
											<xs:attribute name="collection" type="xs:string" use="required"/>
											<xs:attribute name="label" type="xs:string" use="required"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="management" minOccurs="0" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="author" type="xs:string" minOccurs="0" maxOccurs="1"/>
							<xs:element name="revision-number" type="xs:string" minOccurs="0" maxOccurs="1"/>
							<xs:element name="creation-date" type="xs:string" minOccurs="0" maxOccurs="1"/>
							<xs:element name="last-modified" type="xs:string" minOccurs="0" maxOccurs="1"/>
							<xs:element name="credits" type="xs:string" minOccurs="0" maxOccurs="1"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="patternID" type="xs:integer"/>
			<xs:attribute name="collection" type="xs:string"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
